
@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

@Html.Partial("~/Views/Shared/Partials/ProfileLinks.cshtml")

<h2>&nbsp;Career</h2>


<table width=518 border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr bgcolor="#E5E5E5">
        <td height="22" colspan="3" align="left" valign="middle"><strong>&nbsp;Career Information</strong></td>
    </tr>
    <tr>
        <td height="22" width="180" align="right" valign="middle">Industry</td>
        <td colspan="2" align="left"><input name="firstName" type="text" size="50" value="Database"></td>
    </tr>
    <tr>
        <td height="22" align="right" valign="middle">Company</td>
        <td colspan="2" align="left"><input name="lastName" type="text" size="50" value="Teck Resources Limited"></td>
    </tr>
    <tr>
        <td height="22" align="right" valign="middle">Job Title</td>
        <td colspan="2" align="left"><input name="company" type="text" size="50" value="Senior Operation DBA"></td>
    </tr>
    <tr>
        <td height="22" align="right" valign="middle">Years</td>
        <td colspan="2" align="left"><input name="address1" type="text" size="50" value="3"></td>
    </tr>
    <tr>
        <td height="22" align="right" valign="middle">Description   </td>
        <td colspan="2" align="left">
            <textarea rows="10" cols="50">
• Reinforce Oracle database 10g and 11g security;
• Data masking implementation in respect with International and national security;
• MySQL database administration (replication clusters, scalability technics, optimization, backup);
• MySQL Enterprise Cluster and replication (Installation and configuration of 12 Nodes)
• Rearchitecture and stabilization of Oracle databases 10g and 11g included ;
• Installation, configuration, optimization of MySQL (75 BD)
• Supporting production onsite team;
• Applied MySQL patches, Installation and configuration of QA and development databases;
• DBA and Coach for MySQL databases and had 2 DBAs under my responsibility.
• Supporting development department for SQL optimization
• Improve Linux backup scripts for Oracle 10g and 11g (Dataguard and RMAN);
• Improve performance Oracle databases 10g and 11g ;
            </textarea>
        </td>
    </tr>

    <tr>
        <td height="50" align="right" valign="middle"></td>
        <td colspan="2" align="left"><a href="/Profile/Suscribe"><input type="button" value="Save" class="btn btn-default" /></a></td>
    </tr>
<!--
    <tr bgcolor="#E5E5E5">
        <td height="22" colspan="3" align="left" valign="middle"><strong>&nbsp;Credit Card (required)</strong></td>
    </tr>
    <tr>
        <td height="22" align="right" valign="middle">Credit Card Number:</td>
        <td colspan="2" align="left"><input name="CCNo" type="text" value="" size="19" maxlength="40"></td>
    </tr>
-->
</table>

    <table style="width:100%; border:1px red solid;">
        <thead>
            <tr>
                <th>Industry</th>
                <th>Company</th>
                <th>Job Title</th>
                <th>Years</th>
                <th>Description</th>
            </tr>
        </thead>
        <tr>
            <td>Game</td>
            <td>Han Game</td>
            <td>Manager</td>
            <td>2</td>
            <td></td>
        </tr>
        <tr>
            <td>Education</td>
            <td>Apple Tree Company</td>
            <td>Deginer</td>
            <td>2</td>
            <td></td>
        </tr>
        <tr>
            <td>Medical Industry</td>
            <td>Roche</td>
            <td>Administrative Coordinator</td>
            <td>5</td>
            <td></td>
        </tr>
    </table>

<pre>
</pre>
