
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}
@Html.Partial("~/Views/Shared/Partials/ProfileLinks.cshtml")
<h2>Success</h2>

<p>Thank you for your suscription!</p>