<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/solid-theme/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/solid-theme/css/style.css" rel="stylesheet" />
    <link href="~/Content/solid-theme/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />

    <style>
        /*#mainLogo {
            padding: 10px 0;
        }

        .outsideContainer {
            width: 70%;
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
        }

        footer {
            background-color: #e7e7e7;
            padding: 10px 0;
            height: 80px;
        }

        .indexIndResultsContainer {
            display: block;
            float: left;
            width: 70%;
        }

        .indexIndResultsContainer, .indResultsContainer {
            border: 1px solid grey;
            padding: 10px;
        }

        .resultPic img {
            display: block;
            float: left;
        }

        .resultCopy {
            display: block;
            float: left;
            clear: right;
            width: auto;
            font-size: 0.9em;
            padding: 5px;
        }

        .resultLinks {
            display: block;
            float: right;
        }

        .quickSearch {
            display: block;
            float: right;
            width: 30%;
            background-color: #13B1D7;
            padding: 20px 10px;
        }

            .quickSearch a {
                color: #FFFFFF;
            }

        .profilePic {
            display: block;
            float: left;
        }

        .profileCopy {
            display: block;
            float: left;
            clear: right;
            width: auto;
            font-size: 0.9em;
            padding: 5px;
        }

        .contactForm {
            padding: 20px 0;
        }*/
        .footerLink:link, .footerLink:visited{
                color: #bfc9d3;
        }
        .footerLink:hover{
                color: #00b3fe;
        }


    </style>
</head>
<body>
    @*--OLD NAV BAR--
        <div class="outsideContainer">
        <img src="~/Content/images/EmployeeArray-Logo.png" id="mainLogo" />
    </div>
    <nav class="navbar navbar-default outsideContainer" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand"><a href="/Home">Home</a></div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/About">About [EA]</a></li>
                    <li><a href="/Home/Search">Search</a></li>
                    <li><a href="/Profile/Index">Create Profile</a></li>
                    <li><a href="/Home/ContactUs">Contact [EA]</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="~/Login/Index">Customer Login</a></li>
                            <li><a href="~/Login/AdminHome">Admin Login</a></li>

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>*@

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home">EmployeeArray[ ]</a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="~/home/jobseekers">JOB SEEKERS</a></li>
                    <li><a href="~/home/employers">EMPLOYERS</a></li>
                    <li><a href="~/Home/Search">SEARCH</a></li>
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROFILE <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="~/Home/Register">BASIC INFORMATION</a></li>
            <li><a href="single-post.html">CAREER</a></li>
            <li><a href="~/UserLogin/Premium">TRY PREMIUM SVC</a></li>
            <li><a href="/UserLogin/MyPremium">MY PREMIUM SVC</a></li>
        </ul>
    </li>
    <li><a href="~/Home/Logout">LOGOUT (@HttpContext.Current.User.Identity.Name)</a></li>
    if (HttpContext.Current.User.IsInRole("Admin"))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMIN<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/Admin/AddRole">ADD ROLE</a></li>
                <li><a href="/Admin/AddUserToRole">ADD USER TO ROLE</a></li>
            </ul>
        </li>
    }
}
else
{
    @*<li><a href="~/Home/Login">LOGIN</a></li>
    <li><a href="~/Home/Register">REGISTER</a></li>*@ 
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">LOGIN<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="~/Home/Login">LOGIN</a></li>
            <li><a href="~/home/jobseekers">REGISTER</a></li>
        </ul>
    </li>
}

                    
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="blog.html">BLOG</a></li>
                            <li><a href="single-post.html">SINGLE POST</a></li>
                            <li><a href="portfolio.html">PORTFOLIO</a></li>
                            <li><a href="single-project.html">SINGLE PROJECT</a></li>
                        </ul>
                    </li>*@
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>


    @*<div class="outsideContainer">*@
        @RenderBody()
    @*</div>
    <div class="clearfix"></div>*@


    <!-- *****************************************************************************************************************
     FOOTER
     ***************************************************************************************************************** -->
    <div id="footerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>About</h4>
                    <div class="hline-w"></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="col-lg-4">
                    <h4>Social Links</h4>
                    <div class="hline-w"></div>
                    <p>
                        <a href="#"><i class="fa fa-rss-square"></i></a>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </p>
                </div>
                <div class="col-lg-4">
                    <h4>EmployeeArray[ ]</h4>
                    <div class="hline-w"></div>
                    <p>
                        <a href="~/Home/About" class="footerLink">About EA[ ]</a><br />
                        <a href="~/Home/Contactus" class="footerLink">Contact EA[ ]</a>
                    </p>
                </div>

            </div><! --/row -->
        </div><! --/container -->
    </div><! --/footerwrap -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Content/solid-theme/js/bootstrap.min.js"></script>
    <script src="~/Content/solid-theme/js/retina-1.1.0.js"></script>
    <script src="~/Content/solid-theme/js/jquery.hoverdir.js"></script>
    <script src="~/Content/solid-theme/js/jquery.hoverex.min.js"></script>
    <script src="~/Content/solid-theme/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/solid-theme/js/jquery.isotope.min.js"></script>
    <script src="~/Content/solid-theme/js/custom.js"></script>
</body>
</html>
