
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<h2>Edit Profile</h2>

<fieldset id="edit">
    blah<br /><input type="text" /><hr />
    <input type="text" /><hr />
    <input type="text" /><hr />
    <input type="text" /><hr />
    <input type="text" /><hr />
    <input type="text" /><hr />
    <input type="text" /><hr />
    <input type="text" /><hr />
    <input type="text" />
</fieldset>
