
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}


<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Employers.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->


@Html.Partial("~/Views/Shared/Partials/ProfileLinks.cshtml")
<h2>Success</h2>

<p>Thank you for your suscription!</p>