
@{
    ViewBag.Title = "Employers";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<style>
    .seekerHead {
        text-align: center;
    }
    .extraPad{
        padding: 50px 0;
    }
    .btn-themeEmp {
        font-weight: bold;
        color: #fff;
        background-color: #384452;
        border-color: #384452;
        margin: 4px;
    }
    .btn-themeEmp:hover,
    .btn-themeEmp:focus,
    .btn-themeEmp:active,
    .btn-themeEmp.active,
    .open .dropdown-toggle.themeEmp {
        font-weight: bold;
        color: #384452;
        background-color: #fff;
        border-color: #fff;
    }
    .advSearch:link, .advSearch:visited{
                color: #2B2E31;
    }
    .advSearch:hover{
            color: #fff;
    }
    .form-control:focus {
        border-color: #2B2E31;
    }
    .smallerHeader {
        font-size: 1.5em;
        margin-bottom: -10px;
        color: white;
    }
    .whiteHeader {
        color: white;
    }
    #twrap {
        margin-top: -56px;
    }
    .flowBox {
        padding: 15px;
        //background-color: #00b3fe;
        border: 1px solid #00b3fe;
        font-size: 110%;
    }
    .eaButton {
        padding: 15px 10px;
        background-color: #00b3fe;
        border: 1px solid #00b3fe;
    }
    .eaButton:hover {
        background-color: #00b3fe;
        border: 1px solid #00b3fe;
    }
    .jobBoardButton {
        padding: 15px 15px;
        background-color: grey;
        border: 1px solid grey;
    }
    .jobBoardButton:hover {
        background-color: grey;
        border: 1px solid grey;
    }

</style>

<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Employers.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
TESTIMONIALS
***************************************************************************************************************** -->
<div id="twrap">
    <div class="container centered">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br />
                <h3 class="smallerHeader">It's your job to find the right people - it's our job to make your life easier.</h3>
                <h1 class="whiteHeader">Find the right IT Talent on EmployeeArray[ ]</h1>
                <h4>Just enter the Job Title and Location for your hire and instantly receive a list of qualified candidates.</h4>
            </div>
        </div>
        <div class="row extraPad">
            <div class="col-lg-8 col-lg-offset-2">
                @*<img src="~/Content/solid-theme/img/browser.png" class="img-responsive">*@
                <form class="form-inline" action="~/home/DisplaySearchResults" method="post">
                    <div class="form-group">
                        <label for="jobTitle">Job Title</label>
                       <select class="form-control" name="jobTitle">
                            <option value="ALL">ALL</option>
                            @{
                                for (int i = 0; i < ViewBag.jobtitles.Count; i++)
                                {
                                    <option value="@ViewBag.jobtitles[i]">@ViewBag.jobtitles[i]</option>
                                }
                            }
                        </select>&nbsp;
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="City Name">
                    </div>
                    <input type="submit" value="Quick Search" class="btn btn-themeEmp" />&nbsp;&nbsp;&nbsp;<a href="~/Home/Search" class="advSearch">Advanced Search</a>
                </form>


            </div>
        </div><!-- /row -->


    </div><! --/container -->
</div><! --/twrap -->


<!-- *****************************************************************************************************************
 SERVICE LOGOS
 ***************************************************************************************************************** -->
<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-check-square-o"></i>
                <h4>Qualified Candidates</h4>
                <p>The days of having your inbox flooded with job applications from candidates who are not qualified for the position are offically over. Let the EmployeeArray search engine do the screening for you. <b><a href="~/Home/Search">Start your search now!</a></b></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-bullseye"></i>
                <h4>Powerful Search Engine</h4>
                <p>Job titles, skills, years of experience, industries, education, location... you name it the EmployeeArray search engine has it. The EA[ ] search engine has been custom created to maximize functionality for human resource professionals in the IT field. </p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-clock-o"></i>
                <h4>Save Time</h4>
                <p>Take control of the job application search. No longer are HR professionals forced to wait for the right job applicants to find their post and apply. Search the EmployeeArray database to find qualified candidates looking for work now!</p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->

<div id="service">
    <h2 class="seekerHead">Traditional Job Board Sites vs EmployeeArray[ ].</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p class="text-center bg-info text-info center-block flowBox"><b>Step 1:</b> Clearly define the job position requirements & ideal candidate attributes.</p>
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <p class=""><span class="glyphicon glyphicon-arrow-down"></span>
                    </div>
                    <div class="col-xs-6 text-center">
                        <p class="">
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <p class="center-block"><span class="btn btn-success btn-lg jobBoardButton">Job Board Sites</span></p>
                        <p class="center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                        <p class="center-block bg-info text-info flowBox"><b>Step 2:</b> Create job position posting, review with position supervisors and revise if necessary.</p>
                        <p class="center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                        <p class="center-block bg-info text-info flowBox"><b>Step 3:</b> Post position details on numerous job board sites in order to maximize exposure. Allow approximately 2 weeks to gather application submissions.</p>
                        <p class="center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                        <p class="center-block bg-info text-info flowBox"><b>Step 4:</b> Review all applications. Screen out applications from candidates that are not qualified for the position.</p>
                        <p class="center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                        <p class="center-block bg-info text-info flowBox"><b>Step 5:</b> Contact selected candidates. Done!</p>
                    </div>
                    <div class="col-xs-6 text-center">
                        <p class="center-block"><span class="btn btn-warning btn-lg eaButton">EmployeeArray[ ]</span></p>
                        <p class="center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                        <p class="center-block bg-info text-info flowBox"><b>Step 2:</b> Search EA[ ]'s database for job candidates that match the position requirements.</p>
                        <p class="center-block"><span class="glyphicon glyphicon-arrow-down"></span></p>
                        <p class="center-block bg-info text-info flowBox"><b>Step 3:</b> Contact selected candidates. Done!</p>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>



    <!-- *****************************************************************************************************************
    OUR CLIENTS
    ***************************************************************************************************************** -->
    <div id="cwrap">
        <div class="container">
            <div class="row centered">
                <h3>AS SEEN IN</h3>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="~/Content/solid-theme/img/clients/client01.png" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="~/Content/solid-theme/img/clients/client02.png" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="~/Content/solid-theme/img/clients/client03.png" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="~/Content/solid-theme/img/clients/client04.png" class="img-responsive">
                </div>
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/cwrap -->
