@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}
<style>
    /*body {
        background-color: #00b3fe;
    }*/
    .verticalSpace{
        padding: 50px 0 200px 0;
    }
    .indexHeader {
        margin-top: -10px;
        font-size: 4em;
    }

    .btn-themeIndex {
        font-weight: bold;
        width: 150px !important;
        padding: 10px 0;
        color: #384452;
        background-color: #fff;
        border-color: #fff;
        margin: 4px;
    }
    .btn-themeIndex:hover,
    .btn-themeIndex:focus,
    .btn-themeIndex:active,
    .btn-themeIndex.active,
    .open .dropdown-toggle.btn-themeIndex {
        font-weight: bold;
        color: #00b3fe;
        background-color: #fff;
        border-color: #fff;
    }
</style>

<!-- *****************************************************************************************************************
     HEADERWRAP
     ***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="container verticalSpace">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br />
                <h3>Welcome to</h3>
                <h1 class="indexHeader">EmployeeArray[ ]</h1>
                <h4>Helping IT Professionals connect with Employers.</h4>
            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <br />
                <br />
                <a href="~/home/jobseekers" class="btn btn-themeIndex buttonPad" role="button">Job Seekers</a>
                <a href="~/home/employers" class="btn btn-themeIndex buttonPad" role="button">Employers</a>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->

