
@{
    ViewBag.Title = "MessageSent";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<br />
<h3>Message has been sent</h3>
<br />
<div>
    <a href="/Home"><button type="button" class="btn btn-primary">Return to [EA] Home</button></a>
</div>
<br />
<br />

