@{
    ViewBag.Title = "SearchError";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<style>
    .verticalSpace {
        margin-bottom: 50px;
    }
</style>

<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Sorry</h3>
        <p>No matches found, try widening your search parameters!</p>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
