
@{
    ViewBag.Title = "ShowMsg";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="container">
    <h2>Message</h2>
    <hr />
    @if (ViewBag.msg != null)
    {
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            @ViewBag.msg
        </div>
    }
</div>




