
@{
    ViewBag.Title = "ShowMsg";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}
<link href="~/Content/custom.css" rel="stylesheet" />
<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Message</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container voffset5">
    @if (ViewBag.msg != null)
    {
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            @ViewBag.msg
        </div>
    }
</div>

<div class="voffset7"></div>




