
@{
    ViewBag.Title = "ShowMsg";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}
<link href="~/Content/custom.css" rel="stylesheet" />
<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Message</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container voffset5">
    @if (ViewBag.msg != null)
    {
        <div class="alert alert-warning" role="alert">
            <br />
            <br />
                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>&nbsp;&nbsp;
                @ViewBag.msg
            <br />
            <br />
            <br />
        </div>
    }
    
    <!--s:temporary-->
    @if (ViewBag.url != "")
    {
        <div class="alert alert-info" role="alert">
            [TEST]<br />
            <a href="@(ViewBag.url)">@(ViewBag.url)</a>
        </div>
    }
    <!--e:temporary-->
</div>

<div class="voffset7"></div>




