
@{
    ViewBag.Title = "WebAPI";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<style>
    .verticalSpace{
        min-height: 454px;
        padding-bottom: 75px;
    }
</style>

<!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Employee Array[ ] API.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->




<div class="container verticalSpace">
    <!--Show all manufacturers-->
    <div>
        <h2>Tap Into the Power of EmployeeArray[ ] with our Developer API</h2>
        <p>Get access to all of our job seeker profiles using the EA[ ] API. Simply use the HTML & Javascript below to search and list all of our job seekers.</p>
        <div class="form-group">
            <textarea class="form-control" id="htmlSample" rows="18">
Html Sample Code:

<div>
    <h4>Sample Results: Find EmployeeArray[ ] Profiles by Job Title & City</h4>
    <label for="jobTitleFind">Enter Job Title:</label>
    <input type="text" id="jobTitleFind" size="5" />
    <label for="cityFind">Enter City:</label>
    <input type="text" id="cityFind" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p>You may need to wait a few seconds for search results to populate.</p>
    <ul id="findProfiles" />
</div>

<div>
    <h4>Sample: All EmployeeArray[ ] Profiles</h4>
    <p>You may need to wait a few seconds to see the list.</p>
    <ul id="profiles" />
</div>
            </textarea><br />
            <textarea class="form-control" id="jquerySample" rows="30">
Javascript Sample Code:

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
    var webApiURL = "http://ea.greepinetree1.com/api/Profiles/";

    $(document).ready(function () {
        updateList();
    });

    function updateList() {
        // Send an AJAX request
        $.getJSON(webApiURL, null,
        function (data) {
            $("#profiles").replaceWith("<ul id='profiles' />");
            // On success, 'data' contains a list of all profiles.
            data.forEach(function (val) {
                // Format the text to display.
                var str = "Name: " + val.FirstName + " " + val.LastName + " Location: " + val.City + ", " + val.Province + " Job Titles: " + val.JobTitle + " Profile URL: http://localhost:31220/home/IndividualProfile?profileID=" + val.ProfileID;

                // Add a list item for the profiles.
                $('<li />', { text: str }).appendTo($('#profiles'));
            });
        })
    }

    function find() {
        var jobTitle = $('#jobTitleFind').val();
        if (jobTitle == "") { jobTitle = null };
        var city = $('#cityFind').val();
        if (city == "") { city = null };
        $.getJSON(webApiURL + jobTitle + "/" + city,
        function (data) {
            $("#findProfiles").replaceWith("<ul id='findProfiles' />");
            // On success, 'data' contains a list of profiles.
            data.forEach(function (val) {
                // Format the text to display.
                var str = "Name: " + val.FirstName + " " + val.LastName + " Location: " + val.City + ", " + val.Province + " Job Titles: " + val.JobTitle + " Profile URL: http://ea.greepinetree1.com/home/IndividualProfile?profileID=" + val.ProfileID;
                // Add a list item for the manufacturer.
                $('<li />', { text: str }).appendTo($('#findProfiles'));
            });
        })
    }
</script>
        </textarea>

        </div>
    </div>
    <div class="row">
        <br />
        <!--Search profiles by job title and/or city-->
        
        <h4>Sample Results: Find EmployeeArray[ ] Profiles by Job Title & City</h4>
        <div class="col-xs-5">
            <label for="jobTitleFind">Enter Job Title:</label>
            <input type="text" class="form-control" id="jobTitleFind" size="5" />
        </div>
        @*<div class="col-xs-1"></div>*@
        <div class="col-xs-5">
            <label for="cityFind">Enter City:</label>
            <input type="text" class="form-control" id="cityFind" size="5" />
            
        </div>
        <div class="col-xs-12">
            <br />
            <input type="button" class="btn btn-default" value="Search" onclick="find();" />
        </div>
        <div class="col-xs-12">
            <p>You may need to wait a few seconds for search results to populate.</p>
            <ul id="findProfiles" />
        </div>

            @*//THIS WORKS!
            <div>
                <h4>Sample Results: Find EmployeeArray[ ] Profiles by City</h4>
                <label for="jobTitleFind">Enter Job Title:</label>
                <input type="text" id="jobTitleFind" size="5" />
                <label for="cityFind">Enter City:</label>
                <input type="text" id="cityFind" size="5" />
                <input type="button" value="Search" onclick="findCity();" />
                <p>You may need to wait a few seconds for search results to populate.</p>
                <ul id="findProfiles" />
            </div>*@
        </div>
    <hr />
    <div class="row">
        <br />
        <h4>Sample Results: All EmployeeArray[ ] Profiles</h4>
        <p>You may need to wait a few seconds to see the list.</p>
        <ul id="profiles" />
    </div>
</div>



<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/app.js"></script>

