@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<h2>About [EA]</h2>
<div>
    <h3>For Job Seekers</h3>
    <p>
        EmployeeArray puts you in front of thousands of recruiters, employers and start-up businesses all
        looking for IT professionals just like you! Create an [EA] profile in just minutes and link it to your
        personal portfolio website and linkedIn account.
    </p>
</div>
<div>
    <h3>For Recruiters/Employers/Start-up Businesses</h3>
    <p>
        Search the [EA] database to find thousands of qualified IT professionals all looking for
        work and potential business opportunities. The [EA] search engine makes it quick and easy to
        find IT professionals that match your needs.
    </p>
</div>
<br />
<!-- Github test -->