<h4>&nbsp; 

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/Profile/Index">Profile</a></li>
        <li role="presentation"><a href="/Profile/Career">Career</a></li>
        <li role="presentation"><a href="/Profile/Suscribe">Premium</a></li>
        <li role="presentation"><a href="/Home/UserDelete">Delete Account</a></li>
    </ul>

</h4>