<h4>&nbsp; 

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/Home/Career">ADD NEW</a></li>
        <li role="presentation"><a href="/Home/ViewCareers">View Career</a></li>
 
    </ul>

</h4>