
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<h2>Delete User Account</h2>
<fieldset id="delete">
    <p>Are you sure you want to delete this account?</p><br />

    <button onclick="location.href='@Url.Action("AdminHome", "Login")';return false;">Delete</button>|<button onclick="location.href='@Url.Action("AdminHome", "Login")';return false;">Cancel</button><br /><br />
</fieldset>